<div class="container tracker-component">

  <!--
    <ul class="nav nav-tabs nav-fill justify-content-center">
      <li class="nav-item">
        <a class="nav-link active" [routerLink]="['track-workout']" routerLinkActive="active">Track Workout</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['track-food']" routerLinkActive="active">Track Food</a>
      </li>
    </ul>
  -->
  <div class="tracker-dynamic-section">
    <router-outlet></router-outlet>
  </div>
</div>
