<div class="track-workout-component">
  <div class="previous-workouts">
    <div class="list-group workouts">
      <label>Previous Workouts</label>

      <!-- iterate over workouts -->
      <a
        class="list-group-item list-group-item-action previous-workout"
        *ngFor="let workout of workouts | async"
        [routerLink]="['/track/track-session', workout.workoutName]">{{workout.workoutName}}</a>

      <a class="list-group-item list-group-item-action new-workout">Add New Workout
        <button class="new-workout-button" mat-mini-fab routerLink="/track/new-workout">
          <mat-icon>add</mat-icon>
        </button>
      </a>
    </div>
  </div>

</div>
